.CopyRight {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid rgb(44, 44, 44);
    width: 100%;
    overflow: hidden;

    p {
        cursor: default;
        opacity: .5;
        transition: .2s;

        &:hover {
            opacity: 1;
        }
    }

    span {
        color: #00ccff;
    }

}